<h2>Candidates</h2>

<%= form_for(:candidate) do |f| %>
  <%= f.label "1st Choice" %>
  <%= f.collection_select :candidate_id, @candidates, :id, :name, prompt: "Select a Candidate" %>
  <br>
  <%= f.label "2nd Choice" %>
  <%= f.collection_select :candidate_id, @candidates, :id, :name, prompt: "Select a Candidate" %>
  <br>
  <%= f.label "3rd Choice" %>
  <%= f.collection_select :candidate_id, @candidates, :id, :name, prompt: "Select a Candidate" %>
  <br>
  <%= f.label "4th Choice" %>
  <%= f.collection_select :candidate_id, @candidates, :id, :name, prompt: "Select a Candidate" %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
